
@{
    ViewData["Title"] = "UserList";
}
@model List<UserListViewModel>
<h1>Üye Listesi</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
           @* <th>Roller</th>*@
          @*  <th>Rol İşlemleri</th>*@
        </tr>
    </thead>


    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.UserName</td>
                <td>@item.UserMail</td>
                <td>
                  <user-role-names user-id="@item.UserId"></user-role-names>
                </td>
               @* <td>
                    <a asp-controller="Roles" asp-action="AssignRoleToUser" asp-route-id="@item.Id">Rol ata</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>